.base-page {
    width: 100%;
    margin: 10vh 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    z-index: -100;
}

.nuclear-icon {
    height: 60px;
    position: relative;
    right: 140px;
    top: 80px;
    animation-name: rotation;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    
}

.logo {
    height: 200px;
}

.description h2 {
    margin: 20px 0px 0px;
    color: white;
}

.tool {
    width: 30%;
    margin: 50px 0px 0px;
    display: flex;
    justify-content: space-around;
}

.but:hover {
    color: white;
    background-color: orangered;
}

.but {
    padding: 10px;
    color: orangered;
    font-size: 16px;
    text-decoration: none;
    background-color: white;
    border-radius: 2px;
}

@keyframes rotation {
    0% {transform: rotate(0deg);}
    5% {transform: rotate(18deg);}
    10% {transform: rotate(36deg);}
    15% {transform: rotate(54deg);}
    20% {transform: rotate(72deg);}
    25% {transform: rotate(90deg);}
    30% {transform: rotate(108deg);}
    35% {transform: rotate(126deg);}
    40% {transform: rotate(144deg);}
    45% {transform: rotate(162deg);}
    50% {transform: rotate(180deg);}
    55% {transform: rotate(198deg);}
    60% {transform: rotate(216deg);}
    65% {transform: rotate(234deg);}
    70% {transform: rotate(252deg);}
    75% {transform: rotate(270deg);}
    80% {transform: rotate(288deg);}
    85% {transform: rotate(306deg);}
    90% {transform: rotate(324deg);}
    95% {transform: rotate(342deg);}
    100% {transform: rotate(360deg);}
    /* 91.4% {transform: rotate(330deg);}
    100% {transform: rotate(360deg);} */
}